.category{
    width: 85%;
    margin:0 auto 5%;
    overflow: auto;
   
}
.category .category-box{
    width: 49.5%;
    height: 350px;
    float: left;
    background-color: gainsboro;
}
.catego-item1{
    background-image: url(https://images.unsplash.com/photo-1621508775638-a7a0c9c6f006?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-size: cover;
    background-position: center;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 100%
}
.catego-item2{
    background-image: url(https://images.unsplash.com/photo-1494783367193-149034c05e8f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-size: cover;
    background-position: center;
    margin-bottom: 1%;
}

.catego-item3{
    background-image: url(https://images.unsplash.com/photo-1614586125858-e695dd97d1b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1803&q=80);
    background-size: cover;
    background-position: center;
    margin-right: 1%;
}

.catego-item4{
    background-image: url(https://images.unsplash.com/photo-1559056324-2173a221d9b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80);
    background-size: cover;
    background-position: center;
}
.catego-text{
    width: 25%;
    margin-top: 15%;
    margin-left: 10%;
}

.catego-text h3{
    color: white;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 20px;

}

.catego-text a{
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;

}
